* {
    outline:none;
    padding:0px;
    margin:0px;
}

/* Entry */ 
.container {
    display:flex;
    flex-direction:column;
    background-image:url("images/newyearsadaylate.png");
    text-align:center;
}

h1 {
    font-family: 'Neucha', cursive;
    margin: 20px;
    font-size: 90px;
    color: rgba(252,245,236,255);
}

.containerimg{
    display:flex;
    flex-direction:row;
    padding-bottom:20px;
    justify-content:center;
    align-items: center;
    font-family: 'Neucha';
    color:rgb(252, 242, 236);
    font-size: 30px;
}

.allie{
    width:200px;
    border-radius: 50%;
    margin-top:0px;
    margin-left: 20px;
}

.look{
    padding:20px;
}


/* Links */
.container2{
    display:flex;
    flex-direction:column;
    margin: 20px;
    margin-top: 0px;
    align-self: center;
}

.button, .button2, .button3, .button4, .button5{
    background-color: rgba(255, 218, 185, 0.678);
    text-align: center;
    font-family: 'Neucha';
    padding: 15px;
    font-size: 20px;
    border-style:solid;
    border-width:3px;
    border-color:rgb(0, 0, 0);
    margin: 5px;
    width:400px;
    
}

.button:hover,.button2:hover,.button3:hover,.button4:hover,.button5:hover{
-webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.button:hover{
    background-color:rgb(240, 60, 171);
    color:white;
    
}
.button2:hover{
    background-color:aquamarine;
}

.button3:hover{
    background-color:rgb(226, 57, 57);
    color:white;
}
.button4:hover{
    background-color:rgb(238, 103, 148);
    color:white;
}
.button5:hover{
    background-color:rgb(179, 240, 240);
}

a{
    text-decoration:none;
    color:black;
}


/* Header/Footer */
header{
    background-color:rgb(31, 31, 31);
    display:flex;
    flex-direction: row;
}
header > a:hover {
    background-color:rgb(126, 27, 109);
}

p{
    font-family: 'Neucha';
    font-size:20px;
    color: rgb(252,245,236);
    padding: 15px;
}

footer{
    background-color:rgb(31, 31, 31);
    font-family: 'Neucha';
    font-size:20px;
    color: rgb(252,245,236);
    padding: 15px;
    
}

@media screen and (min-width:700px){
    .button, .button2, .button3, .button4, .button5{
        width:600px;
    }
    .look{
        background-color: rgba(77, 7, 30, 0.63);
        margin: 20px;
        border-radius: 20px;
    }
}

#slide {
    position: relative;
    left: -1500px;

    -webkit-animation: slide 2s forwards;

    animation: slide 0.5s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

#slide2, #slide3, #slide4, #slide5, #slide6 {
    position: relative;
    left: -1500px;

    -webkit-animation: slide 2s forwards;

    animation: slide 0.5s forwards;
    
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

#slide2{
    animation-delay: 2s;
}
#slide3{
    animation-delay: 2.2s;
}
#slide4{
    animation-delay: 2.4s;
}
#slide5{
    animation-delay: 2.6s;
}
#slide6{
    animation-delay: 2.8s;
}

@media screen and (max-width:480px){
    .containerimg{
        flex-direction: column;
    }
    .button, .button2, .button3, .button4, .button5{
        width:200px;
    }
    h1{
        font-size:50px;
    }
}



